*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    background: url("images/developer.png") , url("images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
     padding-top: 50px;
     background-position: top left, bottom right;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo h2{
    font-size: 45px;
    font-weight: 900;

}
.color-orange{
    color: #fd6e0a;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;



}
.section{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    
}
.section h2{
    font-weight: 35px;
    margin-bottom: 30px;
    
}
.section p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
nav .minu{
    display: flex;
     list-style-type: none;
     gap: 51px;
     align-items: center;
}
 
nav .minu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.banner-content{
    max-width: 585px;
}
.hero{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.hero .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
     margin-bottom: 20px;

}
.hero .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}
.hero .banner-img img{
    max-width: 585px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;

}
#hopli .About-content{
      width: 71%;
      height: 400px;
      max-width: 1140px;
      margin: 0 auto;  
      text-align: center;
      background-color: #FFF8F3; 
      padding: 131 156px;
      margin-top: 60px;
       
       
}
#hopli{
     padding: 60px;
}
#hopli .About-content .none{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.none .info p{
       font-size: 18px;
    /*margin-bottom: 30px;*/
    line-height: 30px;
    color: #757575;
}
.About-content{
    padding-top: 50px;
    height: 800px;
}
#skills{
    padding: 130px;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
     
}
.section-heading h2{
    padding-bottom: 30px;
}
.section-heading p{
    color: #757575;
    padding-bottom: 30px;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000027;

}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
        font-size: 18px;
    line-height: 30px;
    color: #757575;
}
 